<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <script src="/assets/main.bundle.js" defer></script>
  <title>Lenguajes y Compiladores Fiuba {{ semester }}</title>
</head>
<style>
  body {
    background-color: ##f0f2f7;
background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Ehoundstooth%3C/title%3E%3Cg fill='%23f0f3fc' fill-opacity='0.5' fill-rule='evenodd'%3E%3Cpath d='M0 18h6l6-6v6h6l-6 6H0M24 18v6h-6M24 0l-6 6h-6l6-6M12 0v6L0 18v-6l6-6H0V0'/%3E%3C/g%3E%3C/svg%3E");
  }
  *:target:after{
    content:"  👈"
  }
</style>

<body class="{{ 'debug-screens' if env.devMode }}">
  <div class="container py-4 mx-auto px-0 max-w-screen-md xl:max-w-screen-xl xl:px-5">
    <div class="py-12">
      <h1 class="text-center font-sans text-4xl">Lenguajes y Compiladores FIUBA</h1>
      <h2 class="text-center font-sans text-xl">{{semester_long}}</h2>
    </div>
    <div class="
      prose
      max-w-none font-serif 
      prose-h2:ml-4 
      prose-h2:mt-1
      prose-h3:ml-8 w-full 
      prose-p:text-justify 
      prose-li:text-justify 
      relative

      prose-h2:font-sans
      prose-h2:text-gray-600
      prose-h2:capitalize
      
      prose-h1:sticky 
      prose-h1:top-0 
      prose-h1:py-2
      prose-h1:bg-white
      prose-h1:border-b
      prose-h1:border-compiviolet
      prose-h1:font-sans
      prose-h1:text-gray-600
      [&_.direct-link]:text-compiviolet
      [&_.direct-link]:no-underline

      
      [&_div_>_section]:bg-white
      [&_div_>_section]:md:px-4
      [&_div_>_section]:px-2
      [&_section]:md:pl-2
      [&_div_>_section]:my-8
      [&_div_>_section]:pb-1
      [&_div_>_section]:rounded-lg
      [&_div_>_section]:border
      [&_div_>_section:has(*:target)]:shadow-xl
      [&_div_>_section]:border-compiviolet

      xl:grid
      grid-cols-12
      gap-5

      prose-a:underline-offset-2
      prose-a:decoration-slate-400

      ">
      <div class="xl:col-span-3">
        <div class="
          xl:sticky 
          xl:top-0
          
          xl:max-h-screen
          xl:py-12
          xl:-mt-12
          flex
        ">
          <section class="
          overflow-y-auto

          
          prose-a:no-underline
          prose-a:font-sans
          prose-a:opacity-70
          hover:prose-a:opacity-100
          hover:prose-a:underline
          prose-a:capitalize

          prose-a:whitespace-nowrap
          prose-a:overflow-ellipsis
          prose-a:overflow-hidden
          prose-a:max-w-full
          prose-a:block
          [&_.viewing]:border-r-4
          [&_.viewing]:border-compiviolet
          
          prose-li:overflow-ellipsis
          
          prose-ul:xl:pl-5
          
          

          prose-li:text-base
          
          ">
            <h1 class="xl:invisible xl:absolute bg-white">Contenido</h1>
            {{ content | toc | replace(" #","") | safe }}
          </section>
        </div>
      </div>
      <div class="xl:col-span-9">
        {{ content | safe }}
      </div>
    </div>
  </div>
</body>
{% include "detect_active_link.html" %}
</html>
